<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hero</title>
</head>
<body>
        <!-- Inthe below code the ejs is replaced by the number -->
     <!-- use this ejs to embedded the data coming from the data base -->

    <h1>The home page<%=4+54+8%></h1>  
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti adipisci incidunt consectetur totam libero perferendis soluta nam? Quisquam nobis ad accusantium blanditiis voluptate, asperiores architecto iste consequatur itaque aut consequuntur!
    Facere iusto incidunt, cum vitae, recusandae repellendus tenetur, eum officia perspiciatis omnis dolor alias consequatur illum nemo asperiores deserunt fuga nisi. Aperiam laudantium aliquam, voluptatum consectetur reprehenderit voluptate reiciendis ex!
    Ullam dolore ratione commodi nemo magnam eaque pariatur consectetur, non dolorum veniam alias veritatis! Fugiat recusandae dicta eos, voluptatibus quod vitae aliquam eligendi! Est deleniti provident, incidunt rem asperiores a?
    Ab unde eveniet, incidunt beatae dignissimos id, nisi cum odit cupiditate voluptatibus officia quaerat et sit aliquam repellat earum at blanditiis nulla nesciunt mollitia, eum reprehenderit. Esse nisi cupiditate et!</p>
</body>
</html>